:root {
  --color-active: lightblue;
}

button, .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  user-select: none;
  transition: background 0.2s;
  margin: 1px 1px;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    background-color: rgba(255,255,255,0.4)
  }

  &:hover {
    cursor: pointer;

    &:not(:active) {
      background-color: rgba(255,255,255,0.2) !important;
    }
  }

  img {
    fill: white;
  }

  &.active {
    background: var(--color-active);
  }
}

hr {
  display: block;
  // border-bottom: 1px solid darkgray;
  box-shadow: 0 0 1px 0 darkgray;
  width: 100%;
}

h6 {
  color: gray;
  padding: 4px 0;
  margin: 0;
}
