:root {
  --color-active: gray;
  user-select: none;

  .hover:hover {
    cursor: pointer !important;
  }

  input[type="checkbox"]:hover {
    cursor: pointer;
  }

  input, select {
    outline: none;

    &::placeholder {
      font-size: 12px;
    }
  }
}

::-webkit-scrollbar {
  display: block;
  width: 10px;
  background: gray;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.4);
}

button {
  transition: color 0.3s, background-color 0.3s;
}

button, .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  user-select: none;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    background-color: rgba(255,255,255,0.4);
  }

  &:hover {
    cursor: pointer;

    &:not(:active) {
      background-color: rgba(150,150,150);
    }
  }

  img {
    fill: white;
  }

  &.active {
    background-color: rgba(80,80,80);
    color: white;
  }

  &.basic {
    border: 1px rgba(40,40,40);
    box-shadow: 0 0 1px 1px rgba(60,60,60);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(175,175,175);

    &:hover {
      background-color: rgba(160,160,160,0.2);
    }
  }

  &.file-dialog-button {
    width: 22px;
    height: 22px;
    border: 1px solid;
  }

  &.fill {
    height: 100%;
    width: 100%;
  }
}

hr {
  display: block;
  box-shadow: 0 0 1px 0 darkgray;
  width: 100%;
}


.modal {
  h6 {
    color: gray;
    padding: 4px 0;
    margin: 0;
    font-size: 12px !important;
  }

  *:not(h1), *:not(h2), *:not(h3), *:not(h4), *:not(h5), *:not(h6) {
    font-size: 14px;
  }
}
